nav {
    height: 100px;
    width: 100wh;
    font-family: 'Roboto', sans-serif;
    background-color: cornflowerblue;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}
